
<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12'>
      <% @ideas.each do |idea| %>

        <div class="idea-post">
          <div class="idea-title">
            <%= link_to idea.title, idea_path(idea) %>
          </div>
          <div class="">
            <%= idea.description %>
          </div>
          <br>
          <div>
            <div class="pull-left">
              By <%= idea.user&.first_name %>

            </div>
            <% if user_signed_in? %>
            <div>

              <%= form_tag ideas_like_path(idea), method: :patch do %>
              &nbsp <%= submit_tag '❤️' %>
              <% end %>
            </div>
            <% end %>

            <div class ="pull-right">
              Members: <%= idea.member_count %> |
              Likes: <%= idea.like_count %>
            </div>
          </div>
          <hr>
        </div>

      <% end %>
    </div>
  </div>
</div>
